<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
	<display-name>employee</display-name>
	<welcome-file-list>
		<welcome-file>login.html</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>AdminLoginServlet</servlet-name>
		<servlet-class>com.lemon1234.servlet.AdminLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginServlet</servlet-name>
		<url-pattern>/admin/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>EmployLoginServlet</servlet-name>
		<servlet-class>com.lemon1234.servlet.EmployLoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EmployLoginServlet</servlet-name>
		<url-pattern>/employ/login</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CompanyServlet</servlet-name>
		<servlet-class>com.lemon1234.servlet.CompanyServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CompanyServlet</servlet-name>
		<url-pattern>/company</url-pattern>
	</servlet-mapping>
</web-app>